<div class="cart-container" *ngIf="(items$ | async)?.length">

  <h3>Tu Pedido</h3>

  <div class="cart-item" *ngFor="let item of items$ | async">
    <div>
      <strong>{{ item.product.name }}</strong>
      <p>x{{ item.quantity }}</p>
    </div>

    <div class="price">
      ${{ item.product.price * item.quantity }}
    </div>

    <button (click)="remove(item.product.id)">✕</button>
  </div>

  <hr>

  <div class="totals">
    <p>Subtotal: ${{ subtotal }}</p>
    <p>IVA (15%): ${{ tax }}</p>
    <h4>Total: ${{ total }}</h4>
  
  </div>

  <div class="button-container">
  <button
    class="whatsapp-btn"
    [disabled]="carritoVacio"
    (click)="enviarWhatsApp()">
    📲 Confirmar por WhatsApp
  </button>
</div>

  <div class="button-container">
   <button
      [disabled]="carritoVacio || procesando"
      [class.confirmado]="pedidoConfirmado"
      (click)="openDeliveryModal()">

      <ng-container *ngIf="!procesando && !pedidoConfirmado">
        🚚 Pedido a domicilio
      </ng-container>

      <ng-container *ngIf="procesando">
        ⏳ Procesando pedido...
      </ng-container>

      <ng-container *ngIf="pedidoConfirmado">
        ✅ Pedido confirmado
      </ng-container>
    </button>
  </div>
 <div class="comprobante-card">

  <h4>Comprobante (opcional)</h4>

  <div class="radio-group">
    <label>
      <input type="radio"
             name="comprobante"
             (change)="seleccionarComprobante('factura')">
      Factura
    </label>

    <label>
      <input type="radio"
             name="comprobante"
             (change)="seleccionarComprobante('nota')">
      Nota de venta
    </label>
  </div>

  <div *ngIf="comprobante === 'factura' && datosFactura"
       class="factura-form">

    <input type="text" placeholder="RUC"
           [(ngModel)]="datosFactura.ruc"
           (ngModelChange)="updateDatosFactura()" />

    <input type="text" placeholder="Razón Social"
           [(ngModel)]="datosFactura.razonSocial"
           (ngModelChange)="updateDatosFactura()" />

    <input type="text" placeholder="Dirección Fiscal"
           [(ngModel)]="datosFactura.direccionFiscal"
           (ngModelChange)="updateDatosFactura()" />

    <input type="email" placeholder="Correo"
           [(ngModel)]="datosFactura.correo"
           (ngModelChange)="updateDatosFactura()" />

    <input type="text" placeholder="Teléfono"
           [(ngModel)]="datosFactura.telefono"
           (ngModelChange)="updateDatosFactura()" />

  </div>
</div>
  <app-delivery-modal
    *ngIf="showDeliveryModal"
    [items]="cart"
    [total]="total"
    (closeModal)="showDeliveryModal = false">
  </app-delivery-modal>

</div>