/* HERO */

.hero {
  height: 80vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url('/fondo.png') center/cover no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-content {
  max-width: 700px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  opacity: 0.9;
}

.cta {
  background: #ff3c38;
  border: none;
  padding: 14px 28px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.cta:hover {
  background: #ff1e1a;
  transform: scale(1.05);
}

// .menu {
//   padding: 80px 10%;
//   text-align: center;
//   background: linear-gradient(
//     135deg,
//     #d7fbc2,
//     #6798eb,
//     #c2ffd8,
//     #fceabb
//   );
// }

// .menu h2 {
//   font-size: 2rem;
//   margin-bottom: 3rem;
//   font-weight: 700;
// }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

/* CART */

.cart-section {
  padding: 80px 10%;
  background: #cc7070;
}

.cart-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}


.menu-fan {
  display: flex;
  height: 80vh;
  overflow: hidden;
  background: linear-gradient(
     135deg,
     #d7fbc2,
     #6798eb,
     #c2ffd8,
     #fceabb
   );
}

/* ITEM */
.fan-item {
  display: flex;
  width: 80px;
  transition: all 0.5s ease;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

/* ACTIVO (SE EXPANDE) */
.fan-item.active {
  width: 100%;
}

/* BANNER (LO QUE SIEMPRE SE VE) */
.fan-banner {
  width: 80px;
  min-width: 80px;
  background: linear-gradient(135deg, #18cbe2, #0717f8dc);
  color: rgb(14, 13, 13);
  display: flex;
  align-items: center;
  justify-content: center;

  writing-mode: vertical-rl;
  transform: rotate(180deg);

  font-weight: bold;
}

/* CONTENIDO OCULTO */
.fan-content {
  display: flex;
  gap: 20px;
  padding: 20px;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

/* CUANDO SE ABRE */
.fan-item.active .fan-content {
  opacity: 1;
  transform: translateX(0);
}

/* PRODUCTOS */
.fan-content app-product-card {
  min-width: 220px;
}

.fan-item:hover {
  width: 100%;
}

.fan-content {
  overflow-x: auto;
}

@media (max-width: 768px) {

  .menu-fan {
    display: flex;
    height: 50vh;
    overflow: hidden;
  }

  .fan-item {
    display: flex;
    width: 80px;
    transition: all 0.5s ease;
    cursor: pointer;
    overflow: hidden;
    position: relative;
  }

  .fan-item.active {
    width: 100%;
  }

  /* 🔥 TEXTO NORMAL EN CELULAR */
  .fan-banner {
    writing-mode: vertical-rl;
    transform: rotate(180deg);

  }

  .fan-content {
    overflow-x: auto;
  }
}